[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/li--paul
[access "refs/for/refs/*"]
	read = group user/li--paul
	push = group user/li--paul
	label-Code-Review = -2..+2 group user/li--paul
	label-Verified = -1..+1 group user/li--paul
	rebase = group user/li--paul
	removeReviewer = group user/li--paul
	submit = group user/li--paul
[access "refs/heads/*"]
	read = group user/li--paul
	create = group user/li--paul
	push = +force group user/li--paul
	pushMerge = group user/li--paul
[access "refs/tags/*"]
	push = group user/li--paul
	push = +force group user/li--paul
